body {
  padding-bottom: 20px;
}
#login{
	margin-top: 50px;
}
#footer{
	margin-top: 100px;
}
#content-footer{
	padding-bottom: 50px;
}
/*slide bst*/
/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
  position: relative;
  height: 70vh;
}
.fade-carousel .carousel-inner .item {
  height: 70vh;
}
.fade-carousel .carousel-indicators > li {
  /*margin: 0 2px;*/
  margin-top: 300px;
  background-color: #f39c12;
  border-color: #f39c12;
  opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  margin-top: 300px;
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0,0,0,.75);
  -webkit-transform: translate3d(-50%,-50%,0);
  -moz-transform: translate3d(-50%,-50%,0);
  -ms-transform: translate3d(-50%,-50%,0);
  -o-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
  height: 300px;
  margin-top: 200px;
}
.hero h1 {
  font-size: 6em;    
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
  opacity: 0;
  -webkit-transition: 2s all ease-in-out .1s;
  -moz-transition: 2s all ease-in-out .1s; 
  -ms-transition: 2s all ease-in-out .1s; 
  -o-transition: 2s all ease-in-out .1s; 
  transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
  opacity: 1;
  -webkit-transition: 2s all ease-in-out .1s;
  -moz-transition: 2s all ease-in-out .1s; 
  -ms-transition: 2s all ease-in-out .1s; 
  -o-transition: 2s all ease-in-out .1s; 
  transition: 2s all ease-in-out .1s;    
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #080d15;
  opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
  color: #f5f5f5;
  background-color: #1abc9c;
  border-color: #1abc9c;
  outline: none;
  margin: 50px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides img{

  text-align: center;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
  .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
  .hero h1 { font-size: 4em; }    
}

.success-popup  {
  transition: .3s ease all;
  font-family: 'Roboto', sans-serif;
}

#form-login{
  margin-top: 50px;
}

/* Footer */
.full {
  width: 100%;    
}
.gap {
  height: 30px;
  width: 100%;
  clear: both;
  display: block;
}
.footer {
  background: #EDEFF1;
  height: auto;
  padding-bottom: 30px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #DDDDDD;
}
.footer p {
  margin: 0;
}
.footer img {
  max-width: 100%;
}
.footer h3 {
  border-bottom: 1px solid #BAC1C8;
  color: #54697E;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 40px 0 10px;
  text-transform: uppercase;
}
.footer ul {
  font-size: 13px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 15px;
  color: #7F8C8D;
}
.footer ul li a {
  padding: 0 0 5px 0;
  display: block;
}
.footer a {
  color: #78828D
}
.supportLi h4 {
  font-size: 20px;
  font-weight: lighter;
  line-height: normal;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
  background: #FFFFFF;
  display: inline-block;
  float: left;
  height: 30px;
  clear: both;
  width: 100%;
}
.newsletter-box .btn {
  border: medium none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  height: 40px;
  padding: 0;
  width: 100%;
  color: #fff;
}
.newsletter-box {
  overflow: hidden;
}
.bg-gray {
  background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
  box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
  background: none repeat scroll 0 0 #B5B5B5;
  border: 2px solid #B5B5B5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  float: left;
  height: 36px;
  line-height: 36px;
  margin: 0 8px 0 0;
  padding: 0;
  text-align: center;
  width: 36px;
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}
.social li:hover {
  transform: scale(1.15) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
}
.social li a {
  color: #EDEFF1;
}
.social li:hover {
  border: 2px solid #2c3e50;
  background: #2c3e50;
}
.social li a i {
  font-size: 16px;
  margin: 0 0 0 5px;
  color: #EDEFF1 !important;
}
.footer-bottom {
  background: #E3E3E3;
  border-top: 1px solid #DDDDDD;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer-bottom p.pull-left {
  padding-top: 6px;
}
/* end footer */

.payments {
  font-size: 1.5em; 
}
/* man hinh tim kiem*/

#search{
  margin-top: 70px;
  margin-bottom:50px;
  background-color: #0909aa;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  border: 1px solid #a1a1a1;
  border-radius:5px;
}

#show-search{
  margin-top: 100px;
}

#checkboxinput{
  cursor: pointer;
  position: absolute;
  top: -5px;
  left: 60px;
  opacity: 0!important;
  outline: 0;
  z-index: 3;
  width: 17px;
  height: 17px;
}
.input-group input{
  height: 45px;
}

#colume-search{
  text-align: right;
  margin-bottom: 20px;
}
#input-date-search{
  max-height: 38px;
}
#datetimepicker1{
  width: 185px;
}

#checkroom{
  width: 185px;
  padding-left: 40px;
}

#button-search{ width: 185px; }

/*man hinh dat phong*/
#form-booking{
  background-color: #ffcc33;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 2px solid #a1a1a1;
  border-radius: 25px;
}
/*man hinh thong tin khach hang*/
#info-customer{
  background-color: #ffcc33;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 2px solid #a1a1a1;
  border-radius: 25px;
}
#checkboxpassport{
  margin-left:2px;
}
#checkboxvisa{
  margin-left: 2px;
}
#khachhangInfo{
  background-color: #5799db;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 2px solid #a1a1a1;
  border-radius: 25px;
}

#khachhangInfo> .form-group{
  min-height: 60px;
}


/*file  bread crumb*/
.breadcrumb{
  background:#fff;
  margin-top:40px;
}
#hr-breadcrumb{
  margin-top: -10px;
}

/*sau khi dang ki dich vu*/

#form-create-new-service{
  background-color: rgba(33, 133, 208, 0.59);
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 2px solid #a1a1a1;
  border-radius: 25px;
}
#question-create{
  margin-top: 50px;
}
.beetech-selected {
  text-align: center;
}

/*man hinh chao mung*/
#hello-website{
  background-color: rgba(33, 133, 208, 0.59);
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 2px solid #a1a1a1;
  border-radius: 25px;
}
#hello-website label{
  padding-left: 30px;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-right: 30px;
}
/*home*/

#slider-bar{
  margin-top: 20px;
}
#solugen-company{
  margin-top: 50px;
}

.solugen> img{
  width: 70px;
  height: 70px;
}
.solugen img:hover{
  transform: scale(1.1);
}
.travel-image img{
  width: 100%;
  height: 100%;
}
.product-card{
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;  
}
.travel-image{
  /*position: absolute;*/
  box-shadow: 0 0.5em 1.5em 0 rgba(0,0,0,.1);
  /*margin: 1em;*/
  transition: all .2s ease-in-out 0s;
  text-align: inherit;
}

.travel-image:hover{
  transform: translateY(-.3em);
  -webkit-box-shadow: 0 0.4em 2.4em 0 rgba(0,0,0,.2);
  -moz-box-shadow: 0 .4em 2.4em 0 rgba(0,0,0,.2);
  box-shadow: 0 0.4em 2.4em 0 rgba(0,0,0,.2);
}
.product-title{
  line-height: 1.5;
  font-size: 1.5em!important;
  font-weight: 500;
  color: #545454;
  margin: .2em 0;
  text-decoration: none;
  pointer-events: none;
  display: inline-block;
}
.category-name{
  text-transform: uppercase;
  color: #9a9a9a;
  margin-bottom: .8em;
  font-weight: 500;
  opacity: .7;
  text-decoration: none;
  pointer-events: none;
  font-size: 1.1em;
}
.product-detail{
  flex: 1;
  display: flex;
}
.product-detail-left{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.product-detail-right{
  text-align: right;
  position: absolute;
  right: 1em;
  bottom: 1em;
}
.product-content-wrapper{
      display: flex;
    flex: 1;
    flex-direction: column;
    text-align: left;
    padding: 1em 1.2em;
    background: #fff;
    position: relative;
}
.product-review-wrapper{
    display: flex;
    align-items: center;
    margin: .5em 0;
}
.product-card-rating-wrapper {
      border-radius: 10px;
    padding: .3em 1em;
    background: linear-gradient(340deg,#ffbb58,#f5c684);
    color: #fff;
    font-weight: 700;
    display: flex;
    align-items: center;

}
.product-rating{
      box-sizing: border-box;

}
.star-svg{
    width: 1em;
    height: 1em;
    fill: #fff;
    margin-left: 1em;
}
.product-review-count{
    margin-left: 1em;
    color: #9a9a9a;
}
.call-to-action{
    color: #4fc3f7;
    margin: .5em 0;
    align-self: flex-start;
}
.bell-svg{
  width: 1em;
  height: 1em;
  margin-left: .2em;
  margin-right: .6em;
  vertical-align: sub;
  fill: #4fc3f7;
}
.product-from-text{
    text-align: right;
}
.product-cut-price{
    font-weight: 300;
    color: #9a9a9a;
    text-decoration: line-through;
}
.product-price{
    font-weight: 500;
}
.product-card .heart-svg{
  position: absolute;
    top: 2rem;
    right: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    color: white;
}
.product-card .heart-svg:hover{
  transform: scale(1.1);
}