@media (max-width: 576px) {
	/*file login*/
	#seach-bar{
		display: none;
	}
	#logo-beetech{
		text-align: center;
	}

	/*file man hinh seach*/
	
	#search> .ui{
		float: left;
		margin-top: 20px;
	}
	.flex__item--left {
		display: none!important;
	}
	.flex__item--right {
		width: 100%!important;
	}
	.text--big {
		font-size: 4.5em!important;
	}
	.text--normal {
		display: none!important;
	}
}

/*// Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
	#logo-beetech{
		text-align: center;
	}
	#seach-bar{
		display: none;
	}
	.flex__item--left {
		display: none!important;
	}
	.flex__item--right {
		width: 100%!important;
	}
}

/*// Large devices (desktops, 992px and up)*/
@media (max-width: 992px) { 
	.flex__item--left {
		display: none!important;
	}
	.flex__item--right {
		width: 100%!important;
	}
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1100px) { 
	.flex__item--left {
		display: none!important;
	}
	.flex__item--right {
		width: 100%!important;
	}
}
@media (max-width: 1200px) { 
	.flex__item--left {
		display: none!important;
	}
	.flex__item--right {
		width: 100%!important;
	}
}