@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: url(0AKsP294HTD-nvJgucYTaGfQcKutQXcIrRfyR5jdjY8.eot)/*tpa=https://fonts.gstatic.com/s/droidserif/v6/0AKsP294HTD-nvJgucYTaGfQcKutQXcIrRfyR5jdjY8.eot*/;
}
@font-face {
  font-family: 'Grand Hotel';
  font-style: normal;
  font-weight: 400;
  src: url(NrGQkrs9rbHm5EYx0Eil0uZiE7IA0Up7-VwGqa0iGVY.eot)/*tpa=https://fonts.gstatic.com/s/grandhotel/v4/NrGQkrs9rbHm5EYx0Eil0uZiE7IA0Up7-VwGqa0iGVY.eot*/;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(u-WUoqrET9fUeobQW7jkRfY6323mHUZFJMgTvxaG2iE.eot)/*tpa=https://fonts.gstatic.com/s/opensans/v14/u-WUoqrET9fUeobQW7jkRfY6323mHUZFJMgTvxaG2iE.eot*/;
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(xmtRRxNbEJBOKIjAA3VoQA.eot)/*tpa=https://fonts.gstatic.com/s/raleway/v11/xmtRRxNbEJBOKIjAA3VoQA.eot*/;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(ODelI1aHBYDBqgeIAH2zlEA6tAhcINGmHcufV_v7M-I.eot)/*tpa=https://fonts.gstatic.com/s/sourcesanspro/v10/ODelI1aHBYDBqgeIAH2zlEA6tAhcINGmHcufV_v7M-I.eot*/;
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url(yEAJBCsbAF-h7_da9lxoCw.eot)/*tpa=https://fonts.gstatic.com/s/ubuntu/v10/yEAJBCsbAF-h7_da9lxoCw.eot*/;
}
